In [1]:
# Importando Bibliotecas

# Manipulação dos Dados
import pandas as pd

# Visualização dos Dados
import matplotlib.pyplot as plt
import matplotlib as m
import seaborn as sns

# Análise e modelagem das séries Temporáis
import statsmodels.api as sm
from statsmodels.graphics.tsaplots import plot_acf
from statsmodels.graphics.tsaplots import plot_pacf
from statsmodels.tsa.stattools import adfuller

In [2]:
# Formatação dos gráficos e tabelas
plt.style.use('ggplot')
pd.set_option('display.expand_frame_repr', False)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [5]:
# Formatando os labels dos gráficos
m.rcParams['axes.labelsize'] =14
m.rcParams['xtick.labelsize'] = 12
m.rcParams['ytick.labelsize'] = 12
m.rcParams['text.color'] = 'k'

### Carregando os Dados

In [6]:
# Carrega os dados
dados = pd.read_csv(r'C:\Users\user\Documents\website_user_forecasting\data\dataset.csv', header=None)

In [7]:
# Ajustando o nome de cada coluna
dados.columns =['mes', 'usuarios_ativos']

In [9]:
# Convertendo a coluna data em de object para date time
dados['mes'] = pd.to_datetime(dados['mes'], format='%Y-%m')

In [10]:
# Transformando a coluna de data no índice do conjunto de dados
dados_serie = dados.set_index('mes')

In [11]:
# Visualizando o Dataset
dados_serie.head()

            usuarios_ativos
mes
2013-01-01              110
2013-02-01              121
2013-03-01              135
2013-04-01              127
2013-05-01              128